body {
    min-height: 200vh;
}

.logo {
    text-align: center;
    font-weight:400;
    padding-left: 15px;
}

.github {
    padding:20px;
}

.linkedin {
    padding:20px
}

.stackoverflow {
    padding:20px
}

.resume {
    padding: 20px
}

.thin-text {
    background: rgba(97,190,187,.7);
    font-weight:300;
    padding:10px;
    border-radius: 10px;
}
