html,body{
    display:flex;
    flex-direction: column;
    height:100vh;
    margin: 0,auto;
    overflow: hidden;

}

.nav{
    background-image: linear-gradient(to right, #3f3f42 , #616161);
    padding:20px
}


.name{
    font-family: 'Anton', sans-serif;
    margin-top:20px;
    padding-left: 20px;
}

#eric{
    display: inline-block;
    position: relative;
    
}

#landing{
    background-image: url(../images/wave.png);
    background-size:cover;
    background-position: center;
    display:flex;  
    justify-content: center;
    /* height:100vh; */
    padding:0 20px; 
    text-align: center;
}

.side{
    font-family: 'Rubik', sans-serif;
    justify-content: center;
    padding-top: 250px;
    padding-right:20px;
    text-align: center;
}

#about-me-btn{
    border-radius:15px;
    font-family: Arial, Helvetica, sans-serif;
    padding:0 20px;
}

#landing h1{
    color:#000;
    font-size:68px;
}

#landing h5{
    color:#000;
    font-size:28px
}

footer{
    background-image: linear-gradient(to right, #3f3f42 , #616161);
    color:#fff;
    display:inline-flex;
    justify-content: center;
    padding:10px;
    position: sticky;
    text-align: center;
}


